  .largura{
      font-family: 'Gloria Hallelujah', cursive;
       width: 700px;
       margin: auto;
     }
    .menu{
      font-family: 'Amatic SC', cursive;
      text-align: center;
      width: 800px;
      margin: auto;
      text-align: center;
      margin-top: 30px;
      margin-bottom: 30px;
     text-decoration: none;
    }
    .menu > a {
      text-decoration: none;
      color: black;
      font-size: 18px;
      margin-right: 20px;
    }
    .menu > a:visited {
      color: rgb(111,0,55);
    }
    .menu > a:hover{
      color:violet;
    }
    .h1-largura{
      font-family: 'Gloria Hallelujah', cursive;
      color: ruby;
      border-bottom: 2px dotted black;
    }
    .conteudo{
      line-height: 32px;
    }
      .img-principal{
        float: left;
        margin-right: 20px;
        margin-bottom: 20px;
        width: 300;

      }
      .selecionado{
        border-bottom: 2px dotted black;
      }


      .p-principal{
        font-family: 'Orbitron', sans-serif;
      }
